# Deployment Environment Ports
PORT=3001
# Added to match koyeb environment variable settings
NODE_ENV=development
# Specify which origins to allow, separated by commas, e.g. https://google.com,http://localhost:3000
CORS_ORIGIN=

OPENAI_API_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

MODEL_GPT_4O=gpt-4o
MODEL_GPT_4O_MINI=gpt-4o-mini

MODEL_GPT_4O_FT=
MODEL_GPT_4O_MINI_FT=
